#body {
  background-color: #e5c4a2;
}
.block {
  height: 100px;
  font-size: 50px;
  background-color: antiquewhite;
  border: solid 1px black;
  text-align: center;
  padding: 0px;
}
#contain {
  border-radius: 30px;
  background-color: #2a8d8d;
  width: 90%;
}
#p {
  width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 50px;
}
